/* Link of poppins font from google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.logoHome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.form-group {
  display: grid;
  grid-gap: 5px;
  margin-bottom: 10px;
}

.form-group label {
  font-weight: 400; /* Adjusted font weight to match body text */
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  width: 100%;
  align-self: center; /* Aligned labels and input fields vertically */
  &:focus {
    border-color: #d7282f;
  }
}

.btn {
  padding: 8px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 100%;
  margin: 20px 0; /* Applied consistent margin around button */
  &:active {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
  }
}

.form-group select {
  width: 80%; /* Adjusted width for better alignment */
}
